%table.tabular
	%tr
		%th Shortened
		%th Original URL
		%th Usage count
		%th Most recent usage
		%th Created at
	%tr
		%td!= haml :_linkify, locals: { url: "#{request.base_url}/#{link.slug}" }
		%td!= haml :_linkify, locals: { url: link.url }
		%td= link.use_count
		%td= link.last_used_at
		%td= link.created_at
